@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

html, body {
  height: 100%;
}

.navbar {
  margin-bottom: 0px !important;
}

.sticky-top {
  margin-top: 56px;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.special {
  color: black;
}

.mx-auto {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 21px;
}

#content {
  padding-bottom: relative;
}

.jumbotron {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1, p {
  color: white;
  font-weight: bold;
}

img.image {
  max-width: 300px;
  max-height: 300px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align items: flex-start;
  justify-content: space-around;
}

.liOptions {
  color: black
}

.dropdown:hover .dropdown-menu {
  display: block;
}

testing p {
  color: black;
}

footer {
  background-color: grey;
  color: white;
  font-weight: bold;
}

html, body {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.container .h-100 {
  align-items: center !important;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

form p {
  color: black;
}

.form-signin {
  width: 100%;
  max-width: 500px;
}

.form-signin .btn {
  max-width: 100px;
}
